/*模板示例页面*/
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>${Title}</title>
    <meta http-equiv="content-type" charset="UTF-8">
    <meta http-equiv="Authorization" content="Jason" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no">
</head>
<body>
    <!--基本数据类型参数注入-->
    <h1>${Title}</h1>
    <p>${Content}</p>
    <!--复杂类型-->
    <h1>${Document.Title}</h1>
    <p>${Document.Content}</p>
    <!--数组类型-->
    <!--<#foreach data="goodslist" item="goods">
        <h1>${goods.Name}</h1>
        <div>${goods.Price}</div>
    </#foreach>-->
    <!--foreach loop-->
    <%foreach goods in goodslist%>
        <h1>${goods.Name}</h1>
        <div>${goods.Price}</div>
    <%end%>

    <!--for loop-->
    <%for(int i=0;i<goods.Length;i++)%>
        <h1>${goods.Name}</h1>
        <div>${goods.Price}</div>
    <%end%>

    <!--if conditional-->
    <% if page==1 %>
        <div>if condition</div>
    <% else if %>
        <div>else if condition</div>
    <% end %>

    <!--switch statement-->
    <% switch(pagecount)%>
        <% case %>

        <% break %>
    <% end %>

    <!--Math function-->
    <p>
        <div>$math.abs(-1),$math.ceil(1.2)</div>
    </p>

    <!--format function-->
    <p>
        <div>$format("{0},{1}",Title,Content)</div>
    </p>
</body>
</html>